.rightmenu {
    float:right;
}

#header h1 a {
color:white;
border-bottom:1px dashed white;
}

.rightmenu li {
float:left;
list-style:none;
margin-right:20px;
}

.rightmenu li a {
color: white;
font-size:13px;
line-height:50px;
}

 body {
        overflow: hidden;
    }

    #editor {
        margin: 0;left:0px;right:0px;
	top:64px;
	bottom:0px;position: absolute;
    }


#editor_wrapper {
	position: absolute;
	left:0px;right:0px;
	top:64px;
	bottom:0px;
}