<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>docs tovarnaidej</title>

    <!-- Bootstrap core CSS -->=
      <link href="/static/css/restdown.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
  </head>

  <body>

<div id="header">
    <h1>docs</h1>

    <ul class="rightmenu">
        {% if project and page %}
            <li><a href="/{{project.url}}/{{page.url}}/edit/">Edit</a></li>
        {% endif %}
          {% if user.is_authenticated %}
              <li><a href="/">{{user.first_name}}</a></li>
              <li><a href="/logout/">Logout</a></li>
                {% endif %}
    </ul>
</div>


     {% block content %}
     {% endblock %}

  </body>
</html>
